.no-webp .login {
    background-image: url(../img/fondo2.jpg);
}
.webp .login {
    background-image: url(../img/fondo2.webp);
}

.login{
    a{
        display: block;
        color: $blanco;
    }
}