.no-webp .inicio {
    background-image: url(../img/responsive.jpg);
    @include tablet {
        background-image: url(../img/fondo.jpg);
    }
}
.webp .inicio {
    background-image: url(../img/responsive.webp);
    @include tablet{
        background-image: url(../img/fondo.webp);
    }
}

.inicio, .login, .registrarse{
    margin: 0;
    padding: 0;
    background-position: center center;
    background-size: cover;
    h1{
        font-weight: normal;
        font-size: 3rem;
    }
    @include tablet {
        min-height: 70rem;
    }

    h1{
        margin: 0;
        font-weight: bold;
        text-align: left;
    }
}
.info{
    p{
        margin: 1rem;
    }
}
.contenedor2{
    .save{
        margin: 0;
        margin-top: 5rem;
        padding-bottom: 10rem;
        @include tablet {
            margin-top: 10rem;
        }
    }   
}
.save{
    text-decoration: underline;
    text-align: center;
    @include tablet {
        margin-left: 30rem;
    }
}

.logout{
    text-align: center;
    a{
        color: $negro-oscuro;
    }
    @include tablet {
        margin: 8rem 10rem 0 0;
        text-align: end;
        a{
            color: $negro;    
        }
    }
}

.registro{
    display: flex;
    justify-content: space-between;
    @include tablet {
            margin-right: 10rem;
    }
}

.contenedor2{
    align-items: center;
    h1, p{
        font-size: 1.5rem;
        font-weight: 1rem;
    }

    .primero{
        font-size: 5rem;
        padding-top: 10rem;
    }

    .primero2{
        font-size: 5rem;
    }

    .primero3{
        font-size: 3rem;
    }
    
    @include tablet {
        h1, p{
            font-size: 2.5rem;
            font-weight: bold;
        }
        .primero{   
            padding-top: 15rem;
            font-size: 3.5rem;
            font-weight: bold;
            margin-left: 1rem;
        }
        .primero3{
            font-size: 4rem;
            padding-top: 10rem;
        }
    }
}

.reg{
    padding-left: 6rem;

    @include tablet {
        padding-left: 12rem;
    }
}

.centrar{
    text-decoration: underline;
    margin: 0 0 0 5rem;
    padding-bottom: 5rem;
    @include tablet {
        margin: 0 0 0 15rem ;
        padding: 0 0 10rem 0;
    }
}

a{
    color: $negro;
    font-weight: bold;
    text-decoration: none;
}