.no-webp .registrarse {
    background-image: url(../img/responsive3.jpg);
    @include tablet {
        background-image: url(../img/registro.jpg);
    }
}
.webp .registrarse {
    background-image: url(../img/responsive3.webp);
    @include tablet {
        background-image: url(../img/registro.webp);
    }
}
